* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Montserrat, Roboto, arial, sans-serif !important;
  letter-spacing: 1px !important;
}

.app--isDark,
.app--isDark div,
.app--isDark a {
  background-color: #111111;
  color: #fff;
}

.app--isDark .menu__bar,
.app--isDark .MuiSwitch-track {
  background-color: #ffffff !important;
}

.app--isDark .MuiSwitch-thumb {
  background-color: #ffffff !important;
}

.app__container {
  padding-top: 80px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 100vh;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden;
}

.app__container--isOpen {
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  padding: 20px;
}

.page.page--isDark .MuiInputBase-root {
  color: #ffffff;
}

.page.page--isDark .MuiFormLabel-root {
  color: #73a4ff !important;
}

.page.page--isDark .MuiOutlinedInput-notchedOutline {
  border-color: #73a4ff;
}

.section {
  padding: 0 20px;
}

.section--isDark > * {
  color: #fff;
}

.MuiButton-root {
  background-color: #73a4ff !important;
}

a {
  color: #000;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

p {
  line-height: 25px;
  font-size: 14px;
}

@media (min-width: 768px) {
  p {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  .app__container--isOpen {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
  z-index: 1001;
  background-color: #fff;
}

.menu__container {
  padding: 10px 15px;
  height: 100%;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__left {
  height: 100%;
  -webkit-box-flex: 0.35;
      -ms-flex: 0.35;
          flex: 0.35;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__left a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__left img {
  height: 60px;
  margin-right: 10px;
}

.menu__left span {
  color: #73a4ff;
}

.menu__right {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__bars {
  margin-left: 20px;
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;
}

.menu__bar {
  position: absolute;
  left: 0;
  right: 0;
  height: 4px;
  background-color: black;
  border-radius: 10px;
  -webkit-box-shadow: -1px, 1px, 2px black;
          box-shadow: -1px, 1px, 2px black;
}

.menu__bar--isDark {
  background-color: #fff;
}

.menu__barTop {
  top: 0;
}

.menu__barMid {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.menu__barBot {
  bottom: 0;
}

.menu--isOpen {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.menu--isDark {
  background-color: #111111;
}

@media (min-width: 768px) {
  .menu__container {
    padding: 20px 30px;
  }
}

.sidenav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
  padding: 20px 20px;
  background-color: #fff;
  z-index: 999;
  -webkit-transform: translateY(-530px);
          transform: translateY(-530px);
  -webkit-transition: 0.25s;
  transition: 0.25s;
  opacity: 0;
}

.sidenav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 200px;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.sidenav--isOpen {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.sidenav--isDark {
  background-color: #111111;
}

@media (max-width: 768px) and (orientation: landscape) {
  .sidenav {
    height: calc(100vh - 80px);
  }
}

@media (min-width: 1024px) {
  .sidenav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80px;
  }
}

.navitem {
  position: relative;
  margin: 10px 0;
  list-style-type: none;
  cursor: pointer;
  overflow: hidden;
}

.navitem::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 4px;
  width: 100%;
  background-color: #73a4ff;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.navitem a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0 10px 20px;
  text-decoration: none;
}

.navitem a span {
  margin-right: 10px;
}

@media (max-width: 768px) and (orientation: landscape) {
  .navitem {
    margin: 5px 0;
  }
  .navitem a {
    padding: 5px 0 5px 20px;
    text-decoration: none;
  }
  .navitem a span {
    margin-left: 10px;
  }
}

@media (min-width: 1024px) {
  .navitem:hover::before {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.adminPage__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  padding: 40px;
  min-height: 50vh;
  width: 100%;
  max-width: 700px;
}

.adminPage__form .form__input {
  width: 100%;
}

.adminPage__form button {
  width: 100%;
}

.adminPage__form > * {
  margin-bottom: 20px !important;
}

.contactPage .navitem a {
  font-size: 30px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.contactPage .navitem a span {
  margin-left: 10px;
}

.contactPage .navitem a .MuiSvgIcon-root {
  font-size: 40px;
  color: #73a4ff !important;
}

.homePage {
  width: 100%;
}

.postPage {
  width: 100%;
  max-width: 1000px;
  margin: 60px auto 0;
}

.postPage__image {
  width: 100%;
}

.postPage__image a {
  margin-left: 10px;
  color: #73a4ff;
}

.postPage__image p,
.postPage__image a {
  font-size: 12px;
}

.postPage__image img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  margin-bottom: 5px;
}

.postPage__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.postPage__title p {
  opacity: 0.5;
}

.postPage__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.postPage__author p {
  margin-left: 10px;
}

.postPage__intro p {
  width: 75%;
  padding-bottom: 30px;
  margin-bottom: 40px;
  border-bottom: 4px solid #73a4ff;
}

.postPage__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 500px;
}

.postPage__tag {
  display: inline-block;
  padding: 0 6px;
  margin: 5px 2px;
  padding: 0 6px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 12px;
  border-radius: 20px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
}

.postPage__tag--isDark {
  background: linear-gradient(145deg, #0f0f0f, #121212);
  -webkit-box-shadow: 4px 4px 7px #202020, -4px -4px 7px #303030;
          box-shadow: 4px 4px 7px #202020, -4px -4px 7px #303030;
}

.postPage > * {
  margin-bottom: 20px;
  width: 100%;
}

.hero {
  padding: 20px 40px;
  margin-bottom: 50px;
  width: 100%;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 40vh;
  max-width: 700px;
  margin: 0 auto;
  border-bottom: 4px solid #73a4ff;
}

.hero__title {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 20px;
}

@media (min-width: 768px) and (orientation: portrait) {
  .hero__container {
    min-height: 30vh;
  }
}

.posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
}

.post {
  padding: 10px;
  padding-bottom: 40px;
  border-bottom: 4px solid #73a4ff;
  max-width: 400px;
  margin-bottom: 50px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.post__image img {
  width: 100%;
  height: 210px;
  -o-object-fit: contain;
     object-fit: contain;
}

.post__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post__author img {
  height: 40px;
  width: 40px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 5px;
}

.post__author p {
  line-height: normal;
}

.post__author .post__date {
  font-size: 10px;
  opacity: 0.6;
}

.post__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.post__tag {
  margin: 5px;
  padding: 0 6px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
}

.post__tag p {
  font-size: 12px;
  border-radius: 20px;
}

.post__tag--isDark {
  background: linear-gradient(145deg, #0f0f0f, #121212);
  -webkit-box-shadow: 4px 4px 7px #202020, -4px -4px 7px #303030;
          box-shadow: 4px 4px 7px #202020, -4px -4px 7px #303030;
}

.post > * {
  margin-bottom: 20px;
}

@media (min-width: 1024px) {
  .post:hover {
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
    -webkit-transform: scale(1.015);
            transform: scale(1.015);
  }
  .post--isDark:hover {
    background: linear-gradient(145deg, #0f0f0f, #121212);
    -webkit-box-shadow: 4px 4px 10px #202020, -4px -4px 7px #303030;
            box-shadow: 4px 4px 10px #202020, -4px -4px 7px #303030;
  }
}

footer {
  width: 100%;
  padding: 5px 0;
  text-align: center;
}

footer span {
  color: #73a4ff;
}

.input {
  border: 1px solid #73a4ff;
}
/*# sourceMappingURL=index.css.map */